:root {
  --main-color: #2196f3;
  --secondary-color: white;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --fifth-color: #212121;
  --sixth-color: #f5f4fa;
  --seventh-color: #2f303a;
  --eighth-color: #e5e5e5;
  --nineth-color: #000000;
  --tenth-color: black;
}

.logo {
  color: var(--fifth-color);
}
.background {
  background: var(--seventh-color);
}
.studioname {
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.nav-list {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
}
.list {
  list-style-type: none;
}
.info1 {
  text-decoration: none;
  color: var(--fifth-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.top01 {
  font-family: "Roboto", sans-serif;
  color: var(--fifth-color);
  background-color: var(--sixth-color);
  letter-spacing: 0.03em;
}

.topline {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.studio1 {
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.hoverbl:hover,
.hoverbl:focus,
.hoverbl:active {
  color: var(--main-color);
}
.colgrey {
  color: var(--third-color);
}
.city {
  color: var(--fourth-color);
}
.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--eighth-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.button-portfolio:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.logo-footer {
  color: var(--secondary-color);
}
.studio1 {
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.blue {
  color: #2196f3;
}
.black {
  color: #000000;
}

.infolist {
  text-decoration: none;
  color: var(--fifth-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.image-description {
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.sign-description {
  color: var(--third-color);
  font-size: 16px;
  line-height: 1.8;
}
.top2 {
  font-size: 44px;
  color: var(--secondary-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.maintext {
  font-size: 44px;
  color: var(--secondary-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.bigbutton {
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: var(--seventh-color);
  cursor: pointer;
  font-family: inherit;
}
.lorem1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.lorem2 {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-color);
}
.top22 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}
.maintext2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}
.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.job {
  font-size: 16px;
  line-height: 1.18;
  color: var(--third-color);
}
